.more {
  min-width: 40px;
  width: 40px;
  height: 40px;
  margin-left: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-radius: 9999px;
  border-color: white;
  font-weight: bold;
  background-color: #9ca3af;
  color: white;
}